<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Movie Review Analysis</h2>
<p>Use this application to check wheter the review is positive, Negative, or Neutral</p>

<form  action="/summarize" method="post">
  <textarea name="output" rows="10" cols="30" required></textarea>
  <br><br>
  <input type="submit" value="Analyze">
</form>

</body>
</html>